<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/admin"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/showUserRegisterForm"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/project/showAddProjectForm"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/project/issue/showAddIssueForm"
			access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/user/list"
			access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/project/list"
			access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<form-login />
		<logout />
		<http-basic />
	</http>
	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="passwordEncoder" />
			<user-service>
				<user name="admin"
					password="$2a$10$r5ioMcL5vi3D.63/N0jNuOyTgJQxWS/yS/x5hCKsfhVj4rYSYK0ma"
					authorities="ROLE_ADMIN" />
				<user name="user"
					password="$2a$10$KlllAT.rwjDnrYxn0XneMuSbWKIDIAJ08Hq9mHSfA1JkV1Slkv9GK"
					authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
</beans:beans>  